.button-send{
    border: 4px solid seagreen;
    background-color: rgb(207, 228, 218);
}

.name-user{
    color: green;
}

.superuser{
    color: oranged;
}

.password {
    color: blue;
    font-size: large;
}