.button-send{
    border: 2px solid seagreen;
    background-color: rgb(199, 236, 218);
}

.name-user{
    color: green;
}

.superuser{
    color: oranged;
}

.password {
    color: blue;
    font-size: large;
}
